apiVersion: v1
kind: ConfigMap
metadata:
  name: config-application-server
data:
  chirpstack-application-server.toml: |
    [postgresql]
    dsn="postgres://chirpstack_as:chirpstack_as@postgresql/chirpstack_as?sslmode=disable"

    [redis]
    url="redis://redis:6379"

    [application_server.integration.mqtt]
    server="tcp://mosquitto:1883"

    [application_server.api]
    public_host="chirpstack-application-server:8001"

    [application_server.external_api]
    bind="0.0.0.0:8080"
    jwt_secret="verysecret"

